#main-container {
	margin-top: 15px;
}

#filterPanel{
	background-color:#77deee;
}

.platform-badge{
	color: #fff;
	font-size:12px;
	font-weight:bold;
	width:100px;
	margin-right:5px;

	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;

	margin-bottom:10px;
}

.badge-PC{
	background-color: red;
	border-color: darkred;
}

.badge-Vita,
.badge-Vita\(PSN\),
.badge-PS3\(PSN\),
.badge-PS4{
	background-color: blue;
	border-color: darkblue;
}

.badge-Switch,
.badge-WiiU,
.badge-3DS{
	background-color: BlueViolet ;
	border-color: DarkViolet;
}

.badge-Xbox,
.badge-360,
.badge-WindowsPhone{
	background-color: Green ;
	border-color: Green;
}

.badge-Theatrical,
.badge-Arcade,
.badge-NES,
.badge-Browser,
.badge-Android,
.badge-Linux,
.badge-2600,
.badge-FireTV{
	background-color: gray ;	
	border-color: gray;
}

.badge-iPad,
.badge-iPhone,
.badge-Mac{
	color: black;
	background-color: white ;	
	border-color: black;
}

.badge-Movie{
	color:black;
	background-color: #c3e6cb;
	border-color: #8fd19e;
}
.badge-Game{
	color:black;
	background-color: #b8daff;
	border-color: #7abaff;
}
.badge-TBA{
	color:black;
	background-color: yellow;
	border-color: black;
}

.addToList,
.removeFromList{
	width:200px;
	position:fixed;

    top:100px;
    right:75px;
}