/* Site wide styles*/
	body{
	 	background-image: url("/images/bg2.jpg");
	 	background-attachment: fixed;
	 	background-position: center; 
	 	background-color: #2952a3;
	}

	main{
		width:70%; 
		margin-left:auto; 
		margin-right:auto;
	}

	footer{
		color:white;
		font-weight:bold;
		position:fixed;
	    bottom:0;
	    width:100%;
	    padding-bottom:10px;
	    padding-top:15px;
	    opacity:10%;
	}

	footer a{
		color:gold;
	}

	#main-container {
		margin-top: 15px;	
	}

	.navbar-text{
		color: rgba(255,255,255,.5);
	}

	.navbar-links{
		padding-left:10%;
	}

	.navbar a{
		color:gold;
	}

/* List page styles*/
	#filterPanel{
		background-color:#77deee;
	}

	.addToList,
	.removeFromList{
		width:200px;
		position:fixed;

	    top:100px;
	    right:75px;
	}

	.center{
		margin-left: auto;
		margin-right: auto;
	}

	table.dataTable.table-striped tbody tr:nth-of-type(odd) {
	    background-color: #d9e6f2;
	}
	table.dataTable.table-striped tbody tr:nth-of-type(even) {
	    background-color: #d9d9d9;
	}

	#releaseTable_info{
		color:white;
	}

	#releaseTable{
		border-collapse:collapse !important;
	}

	#releaseTable td{
		border-top:1px solid black;
		border-bottom:1px solid black;	
	}

	.title-column{
		font-weight:bold;
	}

	/* Login/Logout/Registration*/
	#registration-submit,
	#login-submit{
		width:200px;
	}	

/* About and Home page styling*/
	#about-container{
		/*color:white;*/
		font-weight:bold;
		font-size:18px;
		width:70%;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		/*margin-top:70px;*/
		font-family: 'Karla', sans-serif;
	}

	#about-container a{
		/*color:gold;*/
	}

	#about-container h1{
		color:black;
	}

	#about-container hr{
		/*padding-bottom:70px;*/
	}

	#about-container .jumbotron{
		padding-top:50px;
		padding-bottom:40px;
		/*background-image:url("https://images.pexels.com/photos/59305/pexels-photo-59305.png?auto=compress&cs=tinysrgb&h=750&w=940");*/
		/*background:black;*/
		/*background-image: url("/images/about-bg.jpg");*/
	    /*background-repeat:no-repeat;*/
	    /*background-position:50% 50%;  	*/
	}

/* Platform Badges*/
	.platform-badge,
	.platform-badge:hover{
		color: #fff;
		font-size:12px;
		font-weight:bold;
		width:100px;
		margin-right:5px;
		cursor:default !important;

		padding-bottom: 6px;
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 6px;

		margin-bottom:10px;
	}

	.badge-PC{
		background-color: red;
		border-color: darkred;
	}

	.badge-Vita,
	.badge-Vita\(PSN\),
	.badge-PS3\(PSN\),
	.badge-PS4{
		background-color: blue;
		border-color: darkblue;
	}

	.badge-Switch,
	.badge-WiiU,
	.badge-3DS{
		background-color: BlueViolet ;
		border-color: DarkViolet;
	}

	.badge-Xbox,
	.badge-360,
	.badge-WindowsPhone{
		background-color: Green ;
		border-color: Green;
	}

	.badge-Theatrical,
	.badge-Arcade,
	.badge-NES,
	.badge-Browser,
	.badge-Android,
	.badge-Linux,
	.badge-2600,
	.badge-FireTV{
		background-color: gray ;	
		border-color: gray;
	}

	.badge-iPad,
	.badge-iPhone,
	.badge-Mac,
	.badge-iPad:hover,
	.badge-iPhone:hover,
	.badge-Mac:hover{
		color: black;
		background-color: white ;	
		border-color: black;
	}

	.badge-Movie,
	.badge-Movie:hover{
		color:black;
		background-color: #c3e6cb;
		border-color: #8fd19e;
	}

	.badge-Game,
	.badge-Game:hover{
		color:black;
		background-color: #b8daff;
		border-color: #7abaff;
	}
	.badge-TBA,
	.badge-TBA:hover{
		color:black;
		background-color: yellow;
		border-color: black;
	}

/* Small screen/Responsive tweaks*/
	@media only screen and (max-width: 992px) {
	  .navbar-links {
	    padding-left:0px;
	  }
	}